.login-card{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 100% !important;
    min-width: unset !important;
}

.login-button-align {
    display: flex;
    justify-content: center;
    align-items: center;
}