.login-main-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-title {
    margin-bottom: 20px;
    font-size: x-large;
}

.login-button {
    width: 100% !important;
    min-width: unset !important;
}

.login-button-align {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-card {
    width: 300px;
}

.signup-card {
    width: 300px;
    margin-top: 20px;
    background-color: transparent;
    font-size: small;
}

.signup-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}