<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Demobet Frontend</span>
  <span class="example-spacer"></span>
  <button *ngIf="authenticatedUser" [matMenuTriggerFor]="menu" mat-stroked-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    10.00€
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="after" class="menu">
    <span class="welcome-message">¡Bienvenido {{ authenticatedUser?.name }}!</span>

    <div class="menu-options">
      <button mat-menu-item (click)="openDialog(true, '0ms', '0ms')">
        <mat-icon>attach_money</mat-icon>
        <span>Deposit</span>
      </button>
      <button mat-menu-item (click)="openDialog(false, '0ms', '0ms')">
        <mat-icon>money_off</mat-icon>
        <span>Withdraw</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>delete_forever</mat-icon>
        <span>Delete account</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </div>
  </mat-menu>

</mat-toolbar>

<router-outlet />
