<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Demobet Frontend</span>
  <span class="example-spacer"></span>
  <button *ngIf="!authenticatedUser" mat-stroked-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openLoginDialog('0ms', '0ms')">
    Log in
  </button>

  <span *ngIf="authenticatedUser">¡Bienvenido {{ authenticatedUser.name + ' ' + authenticatedUser.surname }}!</span>

  <button *ngIf="authenticatedUser" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>

  <button *ngIf="authenticatedUser" mat-stroked-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
    Log out
  </button>

</mat-toolbar>

<router-outlet />
